<div class="board">
  <%= render 'shared/top-menu' %>
  <table class="table">
    <thead>

    <%= @deadlines_by_date %>
    <%= calendar do |date| %>
      <div class="event-board" style="display: grid;
                                grid-template-columns: auto;;
                                grid-template-rows: 34px repeat(<%= @events_by_tags.size + 1 %>, 125px);
                                grid-gap: 15px 10px;">
        <span style="grid-row: 1 / 2; text-align: center; font-size: 12px;"><%= date.day %></span>
        <% if @events_by_date[date] %>
            <% @events_by_date[date].each do |event| %>
              <% if event.taglist.empty? %>
              <div class="event" style="grid-row: 2 / 3;
                                        <% if event.completed %>
                                          background: lightgreen;
                                        <% else %>
                                          background: lightyellow;
                                        <% end %>
                                        ">
                  <div class="event-title">
                      <%= event.title %>
                  </div>
                  <div class="event-body">
                      <%= event.description %>
                  </div>
                  <div class="event-footer">

                  </div>
                </div>
              <% end %>

              <% event.taglist.each do |tag| %>
                <div class="event" style="grid-row: <%= @events_by_tags.index(tag) + 3 %> / <%= @events_by_tags.index(tag) + 4 %>;
                                          <% if event.completed %>
                                            background: lightgreen;
                                          <% else %>
                                            background: lightyellow;
                                          <% end %>
                                          ">
                      <div class="event-title">
                        <%= event.title %> from <%= tag %>
                      </div>
                      <div class="event-body">
                        <span><%= event.description %></span>
                      </div>
                      <div class="event-footer">

                      </div>
                </div>
              <% end %>
            <% end %>
        <% end %>

    <% end %>
    </tbody>
  </table>

  <%= render 'shared/bottom-menu' %>
</div>
