<div class="board">
  <%= render 'shared/top-menu' %>
  <table class="table">
    <thead>

    <%= calendar do |date| %>
      <div class="event-board" style="display: grid;
                                grid-template-columns: auto;;
                                grid-template-rows: 34px repeat(<%= @events_by_tags.size + 1 %>, 125px);
                                grid-gap: 15px 10px ;">
        <span style="grid-row: 1 / 2; text-align: center; font-size: 12px;"><%= date.day %></span>
        <% if @events_by_date[date] %>
            <% @events_by_date[date].each do |event| %>


              <% if event.taglist.empty? %>

              <div class="event" style="grid-row: 2 / 3;
                                        <% if event.completed %>
                                          background: lightgreen;
                                        <% else %>
                                          background: lightyellow;
                                        <% end %>
                                        ">
                  <%= link_to edit_event_path(:event_id => event.id, :id => event.id),
                                            data: { modal: true },
                                            style: "width: 100%; height: 100%;" do  %>
                  <div class="event-title">
                      <%= event.title %>
                  </div>
                  <div class="event-body">
                      <%= event.description %>
                  </div>
                  <div class="event-footer">

                  </div>
                </div>
                <% end %>
              <% end %>



              <% event.taglist.each do |tag| %>

                <div class="event" style="grid-row: <%= @events_by_tags.index(tag) + 3 %> / <%= @events_by_tags.index(tag) + 4 %>;
                                          <% if event.completed %>
                                            background: lightgreen;
                                          <% else %>
                                            background: lightyellow;
                                          <% end %>">
                                          <%= link_to edit_event_path(:event_id => event.id, :id => event.id),
                                              data: { modal: true },
                                              style: "width: 100%; height: 100%;" do  %>
                      <div class="event-title">
                        <%= event.title %> from <%= tag %>
                      </div>
                      <div class="event-body">
                        <span><%= event.description %></span>
                      </div>
                      <div class="event-footer">

                      </div>
                </div>
                <% end %>
              <% end %>
            <% end %>
        <% end %>


        <% if @deadlines_by_date[date] %>
          <% @deadlines_by_date[date].each do |event| %>

              <% if event.taglist.empty? %>

                    <div class="deadline" style="grid-row: 2 / 3;
                                              <% if event.completed %>
                                                background: lightgreen;
                                              <% else %>
                                                background: red;
                                              <% end %>
                                              ">
                                              <%= link_to edit_event_path(:event_id => event.id, :id => event.id),
                                                  data: { modal: true },
                                                  style: "width: 100%; height: 100%;" do  %>
                      <div class="event-title">
                        Deadline for <%= event.title %>
                      </div>
                      <div class="event-body">
                      </div>
                      <div class="event-footer">
                      </div>
                    </div>
                <% end %>
              <% end %>

              <% event.taglist.each do |tag| %>

                    <div class="deadline" style="grid-row: <%= @events_by_tags.index(tag) + 3 %> / <%= @events_by_tags.index(tag) + 4 %>;
                                              <% if event.completed %>
                                                background: lightgreen;
                                              <% else %>
                                                background: red;
                                              <% end %>
                                              ">
                                              <%= link_to edit_event_path(:event_id => event.id, :id => event.id),
                                                  data: { modal: true },
                                                  style: "width: 100%; height: 100%;" do  %>
                      <div class="event-title">
                        Deadline for <%= event.title %> by <%= tag %>
                      </div>
                      <div class="event-body">
                      </div>
                      <div class="event-footer">
                      </div>
                    </div>
                <% end %>
              <% end %>
          <% end %>
        <% end %>

    <% end %>
    </tbody>
  </table>

  <%= render 'shared/bottom-menu' %>
</div>
