<% if params[:event_id] != nil %>
  <%= form_for(Event.find(params[:event_id]), remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <% provide(:title, "Edit existing event") %>

    <div class="modal-body">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <br>
      <div class="form-inline">
        <div class="left-leaning">
          <%= f.label :start_date %>
          <%= f.text_field :start_date, class: 'form-control', style: 'width: 100px;' %>
        </div>
        <div class="right-leaning">
          <%= f.label :repeater %>
          <%= f.number_field :repeater, class: 'form-control', style: 'width: 104px;' %>
        </div>
      </div>

      <br><br>
      <div class="form-inline">
        <div class="left-leaning">
          <%= f.label :deadline %>
          <%= f.text_field :deadline, class: 'form-control', style: 'width: 106px;' %>
        </div>
        <div class="right-leaning">
          <%= f.label :completed %>
          <%= f.check_box :completed, class: 'form-control' %>
        </div>
      </div>

      <br><br>
      <%= f.label :tags %>
      <%= f.text_field :tags, class: 'form-control' %>

      <br>
      <%= f.hidden_field(:user_id, :value => current_user.id) %>
      <%= f.hidden_field(:board_id, :value => last_board) %>
    </div>

    <div class="modal-footer">
      <%= f.submit "Save changes", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
  <script>
  jQuery(function() {
    $('#event_start_date').datepicker({dateFormat: 'yy-mm-dd'});
    $('#event_deadline').datepicker({dateFormat: 'yy-mm-dd'});  });
  </script>
  <% else %>
  <h1> 404! ERROR. EVENT NOT FOUND </h1>
<% end %>
