<!DOCTYPE html>
<html>
  <head>
    <title>Al'Mantiq Scheduler | <%yield(:title)%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <% if logged_in? %>
      <div class="header">
        <%= render'layouts/header' %>
      </div>
      <div class="nav">
        <%= render'layouts/nav' %>
      </div>
      <div class="content">
        <%= yield %>
        <div id="modal-holder"></div>
      </div>
      <div class="footer">
        <%= render'layouts/footer' %>
      </div>
      <% else %>
      <div class="login-form">
        <%= yield %>
      </div>
      <% end %>
    </div>

  </body>
</html>
